* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  background: linear-gradient(to top, black, cyan);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  max-width: 80rem;
  overflow: hidden;
}

.pictures {
  display: flex;
  width: 100%;
}

.pictures img {
  width: 100%;
  transition: all 0.5s ease;
  border-radius: 3%;
}

.slider input {
  display: none;
}

#img1:checked ~ .pictures .m1 {
  transform: translate(0%);
}
#img2:checked ~ .pictures .m2 {
  transform: translate(-100%);
}
#img3:checked ~ .pictures .m3 {
  transform: translate(-200%);
}
#img4:checked ~ .pictures .m4 {
  transform: translate(-300%);
}

.info {
  max-width: 80rem;
  display: flex;
  padding: 0 1rem 1rem;
  min-height: 7.5rem;
}

.slider-text {
  width: 70%;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 2rem 1rem 1rem;
}

.slider-text p {
  margin-left: 3rem;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider-text div {
  flex-shrink: 0;
  transition: all 0.5s ease;
  width: 100%;
}

#img1:checked ~ .info .slider-text div {
  transform: translate(0);
}
#img2:checked ~ .info .slider-text div {
  transform: translate(-100%);
}
#img3:checked ~ .info .slider-text div {
  transform: translate(-200%);
}
#img4:checked ~ .info .slider-text div {
  transform: translate(-300%);
}

.switch-panel {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.switch-panel label {
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.actived {
  cursor: pointer;
  transition: all 0.2s ease;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: solid cyan 0.2rem;
}

.switch-panel label[for="img1"]:hover .btn1, 
.switch-panel label[for="img2"]:hover .btn2, 
.switch-panel label[for="img3"]:hover .btn3, 
.switch-panel label[for="img4"]:hover .btn4 {
  background: #fff;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease;
  border: none;
}

#img1:checked ~ .info .switch-panel label[for="img1"] .actived,
#img2:checked ~ .info .switch-panel label[for="img2"] .actived,
#img3:checked ~ .info .switch-panel label[for="img3"] .actived,
#img4:checked ~ .info .switch-panel label[for="img4"] .actived {
  background-color: cyan;
  border: none;
  box-shadow: 0 0 1rem 0 rgba(255, 255, 255, 0.8);
  transition: all 0.5s ease;
}



@media (max-width: 820px) {

  .slider {
    padding: 0 3rem 0;
    margin: 0 auto;
  }

  .pictures {
    width: 100%;
    overflow: hidden;
    margin-bottom: 3rem;
  }
  

  .info {
    max-width: 80rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .slider-text p {
    text-align: center;
    font-size: 2.5rem;
  }

  .slider-text {
    padding-top: 3rem;
    width: 100%;
  }

  .switch-panel {
    width: 100%;
    gap: 2.5rem;
  }

  .switch-panel label {
    height: 2.5rem;
    width: 2.5rem;
  }
  

}
